USE [master]
GO
/****** Object:  Database [sibela]    Script Date: 1/24/2026 11:09:49 AM ******/
CREATE DATABASE [sibela]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sibela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sibela]
GO
USE [sibela]
GO
/****** Object:  Table [dbo].[absensi]    Script Date: 1/24/2026 11:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[absensi](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_absensi]  AS ('ABS'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[id_murid] [varchar](6) NOT NULL,
	[id_pertemuan] [varchar](7) NOT NULL,
	[id_pengajar] [varchar](7) NOT NULL,
	[isHadir] [bit] NOT NULL,
	[alasan] [text] NULL,
	[waktu_absensi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_absensi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jadwal_murid]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jadwal_murid](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_jamur]  AS ('JAMUR'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[id_murid] [varchar](6) NOT NULL,
	[id_pertemuan] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_jamur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jadwal_pertemuan]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jadwal_pertemuan](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_pertemuan]  AS ('PERT'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[id_staff] [varchar](8) NOT NULL,
	[id_pengajar] [varchar](7) NOT NULL,
	[id_ruangan] [varchar](6) NOT NULL,
	[id_materi] [varchar](6) NOT NULL,
	[waktu] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pertemuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mapel]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapel](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_mapel]  AS ('MAP'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[nama_mapel] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mapel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materi]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materi](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_materi]  AS ('MAT'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[id_mapel] [varchar](6) NOT NULL,
	[judul_materi] [varchar](100) NOT NULL,
	[isi_materi] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[murid]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[murid](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_murid]  AS ('MUR'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[nama] [varchar](100) NOT NULL,
	[tanggal_lahir] [date] NOT NULL,
	[tingkat] [int] NOT NULL,
	[tanggal_masuk] [date] NOT NULL,
	[no_hp] [varchar](15) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_murid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pembayaran]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pembayaran](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_pembayaran]  AS ('PEMB'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[id_murid] [varchar](6) NOT NULL,
	[tanggal_pembayaran] [date] NOT NULL,
	[jumlah_pembayaran] [money] NOT NULL,
	[dikonfirmasi] [bit] NOT NULL,
	[id_staff] [varchar](8) NULL,
	[mtd_pembayaran] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pembayaran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pengajar]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pengajar](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_pengajar]  AS ('PENG'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[nama] [varchar](100) NOT NULL,
	[tanggal_lahir] [date] NOT NULL,
	[tanggal_masuk] [date] NOT NULL,
	[no_hp] [varchar](15) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pengajar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ruangan]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ruangan](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_ruangan]  AS ('KEL'+right('000'+CONVERT([varchar](3),[id_num]),(3))) PERSISTED NOT NULL,
	[lokasi] [varchar](100) NOT NULL,
	[deskripsi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruangan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 1/24/2026 11:09:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id_num] [int] IDENTITY(1,1) NOT NULL,
	[id_staff]  AS ('STAFF'+right('000'+CONVERT([varchar](10),[id_num]),(3))) PERSISTED NOT NULL,
	[role] [varchar](20) NOT NULL,
	[nama] [varchar](255) NOT NULL,
	[tanggal_lahir] [date] NULL,
	[tanggal_masuk] [date] NULL,
	[no_hp] [varchar](20) NULL,
	[password] [varchar](100) NULL,
	[email] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[absensi] ON 

INSERT [dbo].[absensi] ([id_num], [id_murid], [id_pertemuan], [id_pengajar], [isHadir], [alasan], [waktu_absensi]) VALUES (2, N'MUR002', N'PERT028', N'PENG001', 1, N'Sakit Perut', CAST(N'2026-01-12T08:29:02.800' AS DateTime))
INSERT [dbo].[absensi] ([id_num], [id_murid], [id_pertemuan], [id_pengajar], [isHadir], [alasan], [waktu_absensi]) VALUES (3, N'MUR003', N'PERT028', N'PENG001', 1, N'', CAST(N'2026-01-12T08:29:38.380' AS DateTime))
INSERT [dbo].[absensi] ([id_num], [id_murid], [id_pertemuan], [id_pengajar], [isHadir], [alasan], [waktu_absensi]) VALUES (4, N'MUR016', N'PERT029', N'PENG001', 1, N'Makan Ikan', CAST(N'2026-01-12T10:06:40.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[absensi] OFF
GO
SET IDENTITY_INSERT [dbo].[jadwal_murid] ON 

INSERT [dbo].[jadwal_murid] ([id_num], [id_murid], [id_pertemuan]) VALUES (1, N'MUR001', N'PERT012')
INSERT [dbo].[jadwal_murid] ([id_num], [id_murid], [id_pertemuan]) VALUES (2, N'MUR005', N'PERT012')
INSERT [dbo].[jadwal_murid] ([id_num], [id_murid], [id_pertemuan]) VALUES (3, N'MUR012', N'PERT014')
SET IDENTITY_INSERT [dbo].[jadwal_murid] OFF
GO
SET IDENTITY_INSERT [dbo].[jadwal_pertemuan] ON 

INSERT [dbo].[jadwal_pertemuan] ([id_num], [id_staff], [id_pengajar], [id_ruangan], [id_materi], [waktu]) VALUES (8, N'STAFF001', N'PENG001', N'KEL001', N'MAT001', CAST(N'2025-01-15T07:30:00.000' AS DateTime))
INSERT [dbo].[jadwal_pertemuan] ([id_num], [id_staff], [id_pengajar], [id_ruangan], [id_materi], [waktu]) VALUES (9, N'STAFF002', N'PENG002', N'KEL002', N'MAT002', CAST(N'2025-01-15T09:00:00.000' AS DateTime))
INSERT [dbo].[jadwal_pertemuan] ([id_num], [id_staff], [id_pengajar], [id_ruangan], [id_materi], [waktu]) VALUES (10, N'STAFF001', N'PENG003', N'KEL003', N'MAT003', CAST(N'2025-01-15T10:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[jadwal_pertemuan] OFF
GO
SET IDENTITY_INSERT [dbo].[mapel] ON 

INSERT [dbo].[mapel] ([id_num], [nama_mapel]) VALUES (1, N'Matematika')
INSERT [dbo].[mapel] ([id_num], [nama_mapel]) VALUES (2, N'Bahasa Indonesia')
INSERT [dbo].[mapel] ([id_num], [nama_mapel]) VALUES (3, N'Bahasa Inggris')
SET IDENTITY_INSERT [dbo].[mapel] OFF
GO
SET IDENTITY_INSERT [dbo].[materi] ON 

INSERT [dbo].[materi] ([id_num], [id_mapel], [judul_materi], [isi_materi]) VALUES (1, N'MAP001', N'Aljabar Linear', N'Pengenalan dasar tentang matriks, vektor, dan operasi aritmatika terkait aljabar linear.')
INSERT [dbo].[materi] ([id_num], [id_mapel], [judul_materi], [isi_materi]) VALUES (2, N'MAP001', N'Trigonometri Dasar', N'Memahami konsep Sinus, Cosinus, dan Tangen dalam segitiga siku-siku serta penerapannya.')
INSERT [dbo].[materi] ([id_num], [id_mapel], [judul_materi], [isi_materi]) VALUES (3, N'MAP002', N'Teks Eksplanasi', N'Struktur teks eksplanasi yang meliputi pernyataan umum, deretan penjelas, dan interpretasi.')
SET IDENTITY_INSERT [dbo].[materi] OFF
GO
SET IDENTITY_INSERT [dbo].[murid] ON 

INSERT [dbo].[murid] ([id_num], [nama], [tanggal_lahir], [tingkat], [tanggal_masuk], [no_hp], [password]) VALUES (1, N'Irsyad Rusendra', CAST(N'2007-11-20' AS Date), 10, CAST(N'2025-12-10' AS Date), N'085156795782', N'rasyaganteng12')
INSERT [dbo].[murid] ([id_num], [nama], [tanggal_lahir], [tingkat], [tanggal_masuk], [no_hp], [password]) VALUES (2, N'Budi Santoso', CAST(N'2008-05-12' AS Date), 10, CAST(N'2023-07-15' AS Date), N'081234567890', N'Siswa123!')
INSERT [dbo].[murid] ([id_num], [nama], [tanggal_lahir], [tingkat], [tanggal_masuk], [no_hp], [password]) VALUES (3, N'Aminah', CAST(N'2008-08-23' AS Date), 10, CAST(N'2023-07-15' AS Date), N'081298765432', N'Belajar#2024')
SET IDENTITY_INSERT [dbo].[murid] OFF
GO
SET IDENTITY_INSERT [dbo].[pembayaran] ON 

INSERT [dbo].[pembayaran] ([id_num], [id_murid], [tanggal_pembayaran], [jumlah_pembayaran], [dikonfirmasi], [id_staff], [mtd_pembayaran]) VALUES (16, N'MUR001', CAST(N'2025-11-01' AS Date), 500000.0000, 1, N'STAFF001', N'TRANSFER')
INSERT [dbo].[pembayaran] ([id_num], [id_murid], [tanggal_pembayaran], [jumlah_pembayaran], [dikonfirmasi], [id_staff], [mtd_pembayaran]) VALUES (17, N'MUR002', CAST(N'2025-11-01' AS Date), 150000.0000, 1, N'STAFF003', N'TUNAI')
INSERT [dbo].[pembayaran] ([id_num], [id_murid], [tanggal_pembayaran], [jumlah_pembayaran], [dikonfirmasi], [id_staff], [mtd_pembayaran]) VALUES (18, N'MUR005', CAST(N'2025-11-02' AS Date), 750000.0000, 1, N'STAFF001', N'TRANSFER')
SET IDENTITY_INSERT [dbo].[pembayaran] OFF
GO
SET IDENTITY_INSERT [dbo].[pengajar] ON 

INSERT [dbo].[pengajar] ([id_num], [nama], [tanggal_lahir], [tanggal_masuk], [no_hp], [password]) VALUES (1, N'Apissina al amin S.Tr.Kom.', CAST(N'2006-12-21' AS Date), CAST(N'2025-12-10' AS Date), N'081369420691', N'apisganteng12')
INSERT [dbo].[pengajar] ([id_num], [nama], [tanggal_lahir], [tanggal_masuk], [no_hp], [password]) VALUES (2, N'Ahmad Fauzi, S.Pd', CAST(N'1985-04-12' AS Date), CAST(N'2010-07-15' AS Date), N'081234567890', N'Mengajar2024')
INSERT [dbo].[pengajar] ([id_num], [nama], [tanggal_lahir], [tanggal_masuk], [no_hp], [password]) VALUES (3, N'Rina Kartika, S.Si', CAST(N'1990-08-23' AS Date), CAST(N'2014-02-01' AS Date), N'081298765432', N'BiologiSeru!')
SET IDENTITY_INSERT [dbo].[pengajar] OFF
GO
SET IDENTITY_INSERT [dbo].[ruangan] ON 

INSERT [dbo].[ruangan] ([id_num], [lokasi], [deskripsi]) VALUES (1, N'Gedung A, Lantai 1', N'Ruang Kelas 10-AA')
INSERT [dbo].[ruangan] ([id_num], [lokasi], [deskripsi]) VALUES (2, N'Gedung A, Lantai 1', N'Ruang Kelas 10-B')
INSERT [dbo].[ruangan] ([id_num], [lokasi], [deskripsi]) VALUES (3, N'Gedung A, Lantai 1', N'Ruang Kelas 10-C')
SET IDENTITY_INSERT [dbo].[ruangan] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([id_num], [role], [nama], [tanggal_lahir], [tanggal_masuk], [no_hp], [password], [email]) VALUES (1, N'FRONTDESK', N'Dola', CAST(N'2007-04-20' AS Date), CAST(N'2025-11-30' AS Date), N'085158898232', N'adijunai12', N'dola@gmail.com')
INSERT [dbo].[staff] ([id_num], [role], [nama], [tanggal_lahir], [tanggal_masuk], [no_hp], [password], [email]) VALUES (2, N'FRONTDESK', N'Jonathan', CAST(N'2002-04-20' AS Date), CAST(N'2025-11-30' AS Date), N'085158898232', N'christianoronaldo69', N'jonathan@gmail.com')
INSERT [dbo].[staff] ([id_num], [role], [nama], [tanggal_lahir], [tanggal_masuk], [no_hp], [password], [email]) VALUES (3, N'FRONTDESK', N'Iyan', CAST(N'2028-10-20' AS Date), CAST(N'2025-12-11' AS Date), N'085241237789', N'awikwok', N'iyan@gmail.com')
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
/****** Object:  Index [UQ__absensi__6E4DA4BF8F1E734C]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[absensi] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Absensi]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[absensi] ADD  CONSTRAINT [UQ_Absensi] UNIQUE NONCLUSTERED 
(
	[id_murid] ASC,
	[id_pertemuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__jadwal_m__6E4DA4BF1CA81241]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[jadwal_murid] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_muridPertemuanJamur]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[jadwal_murid] ADD  CONSTRAINT [UQ_muridPertemuanJamur] UNIQUE NONCLUSTERED 
(
	[id_murid] ASC,
	[id_pertemuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__jadwal_p__6E4DA4BFB7CAB743]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[jadwal_pertemuan] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__mapel__6E4DA4BFADB010D0]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[mapel] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__materi__6E4DA4BF02103FC7]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[materi] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_noHpMurid]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[murid] ADD  CONSTRAINT [UN_noHpMurid] UNIQUE NONCLUSTERED 
(
	[no_hp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__murid__6E4DA4BFEFE0349C]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[murid] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__pembayar__6E4DA4BF63B649DD]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[pembayaran] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_noHpPengajar]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[pengajar] ADD  CONSTRAINT [UN_noHpPengajar] UNIQUE NONCLUSTERED 
(
	[no_hp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__pengajar__6E4DA4BFD6523AE8]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[pengajar] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ruangan__6E4DA4BF82F36BC3]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[ruangan] ADD UNIQUE NONCLUSTERED 
(
	[id_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staf_Email]    Script Date: 1/24/2026 11:09:50 AM ******/
ALTER TABLE [dbo].[staff] ADD  CONSTRAINT [UQ_Staf_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[absensi] ADD  CONSTRAINT [DF_kehadiraAbsensi]  DEFAULT ((0)) FOR [isHadir]
GO
ALTER TABLE [dbo].[absensi] ADD  CONSTRAINT [DF_WaktuAbsensi]  DEFAULT (getdate()) FOR [waktu_absensi]
GO
ALTER TABLE [dbo].[murid] ADD  CONSTRAINT [DF_TanggalMasukMurid]  DEFAULT (getdate()) FOR [tanggal_masuk]
GO
ALTER TABLE [dbo].[pembayaran] ADD  CONSTRAINT [DF_TanggalBayar]  DEFAULT (getdate()) FOR [tanggal_pembayaran]
GO
ALTER TABLE [dbo].[pembayaran] ADD  CONSTRAINT [DF_konfirmasiPembayaran]  DEFAULT ((0)) FOR [dikonfirmasi]
GO
ALTER TABLE [dbo].[pengajar] ADD  CONSTRAINT [DF_TanggalMasukPengajar]  DEFAULT (getdate()) FOR [tanggal_masuk]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT ('FRONTDESK') FOR [role]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (getdate()) FOR [tanggal_masuk]
GO
ALTER TABLE [dbo].[absensi]  WITH CHECK ADD  CONSTRAINT [FK_MuridAbsensi] FOREIGN KEY([id_murid])
REFERENCES [dbo].[murid] ([id_murid])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[absensi] CHECK CONSTRAINT [FK_MuridAbsensi]
GO
ALTER TABLE [dbo].[absensi]  WITH CHECK ADD  CONSTRAINT [FK_PengajarAbsensi] FOREIGN KEY([id_pengajar])
REFERENCES [dbo].[pengajar] ([id_pengajar])
GO
ALTER TABLE [dbo].[absensi] CHECK CONSTRAINT [FK_PengajarAbsensi]
GO
ALTER TABLE [dbo].[absensi]  WITH CHECK ADD  CONSTRAINT [FK_PertemuanAbsensi] FOREIGN KEY([id_pertemuan])
REFERENCES [dbo].[jadwal_pertemuan] ([id_pertemuan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[absensi] CHECK CONSTRAINT [FK_PertemuanAbsensi]
GO
ALTER TABLE [dbo].[jadwal_murid]  WITH CHECK ADD  CONSTRAINT [FK_MuridJamur] FOREIGN KEY([id_murid])
REFERENCES [dbo].[murid] ([id_murid])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[jadwal_murid] CHECK CONSTRAINT [FK_MuridJamur]
GO
ALTER TABLE [dbo].[jadwal_murid]  WITH CHECK ADD  CONSTRAINT [FK_PertemuanJamur] FOREIGN KEY([id_pertemuan])
REFERENCES [dbo].[jadwal_pertemuan] ([id_pertemuan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[jadwal_murid] CHECK CONSTRAINT [FK_PertemuanJamur]
GO
ALTER TABLE [dbo].[jadwal_pertemuan]  WITH CHECK ADD  CONSTRAINT [FK_MateriJadwal] FOREIGN KEY([id_materi])
REFERENCES [dbo].[materi] ([id_materi])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[jadwal_pertemuan] CHECK CONSTRAINT [FK_MateriJadwal]
GO
ALTER TABLE [dbo].[jadwal_pertemuan]  WITH CHECK ADD  CONSTRAINT [FK_PengajarJadwal] FOREIGN KEY([id_pengajar])
REFERENCES [dbo].[pengajar] ([id_pengajar])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[jadwal_pertemuan] CHECK CONSTRAINT [FK_PengajarJadwal]
GO
ALTER TABLE [dbo].[jadwal_pertemuan]  WITH CHECK ADD  CONSTRAINT [FK_RuanganJadwal] FOREIGN KEY([id_ruangan])
REFERENCES [dbo].[ruangan] ([id_ruangan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[jadwal_pertemuan] CHECK CONSTRAINT [FK_RuanganJadwal]
GO
ALTER TABLE [dbo].[jadwal_pertemuan]  WITH CHECK ADD  CONSTRAINT [FK_StafJadwal] FOREIGN KEY([id_staff])
REFERENCES [dbo].[staff] ([id_staff])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[jadwal_pertemuan] CHECK CONSTRAINT [FK_StafJadwal]
GO
ALTER TABLE [dbo].[materi]  WITH CHECK ADD  CONSTRAINT [FK_MapelMateri] FOREIGN KEY([id_mapel])
REFERENCES [dbo].[mapel] ([id_mapel])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[materi] CHECK CONSTRAINT [FK_MapelMateri]
GO
ALTER TABLE [dbo].[pembayaran]  WITH CHECK ADD  CONSTRAINT [FK_MuridPembayaran] FOREIGN KEY([id_murid])
REFERENCES [dbo].[murid] ([id_murid])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[pembayaran] CHECK CONSTRAINT [FK_MuridPembayaran]
GO
ALTER TABLE [dbo].[pembayaran]  WITH CHECK ADD  CONSTRAINT [FK_PembayaranStaff] FOREIGN KEY([id_staff])
REFERENCES [dbo].[staff] ([id_staff])
GO
ALTER TABLE [dbo].[pembayaran] CHECK CONSTRAINT [FK_PembayaranStaff]
GO
ALTER TABLE [dbo].[murid]  WITH CHECK ADD  CONSTRAINT [CK_tingkatMurid] CHECK  (([tingkat]=(12) OR [tingkat]=(11) OR [tingkat]=(10)))
GO
ALTER TABLE [dbo].[murid] CHECK CONSTRAINT [CK_tingkatMurid]
GO
ALTER TABLE [dbo].[pembayaran]  WITH CHECK ADD  CONSTRAINT [CK_MtdPembayaran] CHECK  (([mtd_pembayaran]='TRANSFER' OR [mtd_pembayaran]='TUNAI'))
GO
ALTER TABLE [dbo].[pembayaran] CHECK CONSTRAINT [CK_MtdPembayaran]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [CK_Staf_Role] CHECK  (([role]='FRONTDESK' OR [role]='MANAJER'))
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [CK_Staf_Role]
GO
USE [master]
GO
